/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.navbar .logo h1 {
    margin: 0;
    cursor: pointer;
}

.navbar .nav-links {
    display: flex;
    gap: 30px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.navbar .menu-toggle {
    display: none;
}

@media (max-width: 768px) {
.navbar .nav-links {
    display: none; /* 기본적으로 숨김 */
}

.navbar .menu-toggle {
    display: block; /* 모바일 화면에서만 표시 */
    cursor: pointer;
}
}



/* src/components/Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    display: none; /* 기본적으로 숨김 */
    flex-direction: column;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* 화면 밖에 위치 */
}

.sidebar.open {
    display: flex; /* 열렸을 때만 표시됨 */
    transform: translateX(0); /* 화면에 표시됨 */
}

.sidebar .close-btn {
align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #555;
}
